/* 
    author - suyog kulkarni
    theme - materials management for construction purposes
    version - 1.0
*/

/*css for all*/
*
{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container
{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive
{
    width: 100%;

}
.img-curve
{
    border-radius: 15px;
}
.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}
.text-white
{
    color: black;
}

a
{
    color:#ff6b81;
    text-decoration: none;

}
a:hover
{
    color:black;
}

.btn-primary:hover
{
    
    background-color: #ff4757;
}
h2
{
    color: #2f3542;
    font-size: 2rem ;
}

.clearfix
{
    clear: both;
    float: none;
}

.float-container
{
    position: relative;
    
}
.float-text
{
    position: absolute;
    bottom: 3%;
    left: 10%;
}

/*css for navbar*/

.logo
{
    width: 15%;
    float: left;
    
}

.menu ul
{
    list-style: none;
}

.menu ul li 
{
    display: inline;
    padding: 2%;
    font-weight: bold;

}
/*css for search section*/
.materials-search
{
    background-image: url(../images/searchbarbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8% 0;
}

.materials-search input[type="search"]
{
    width: 45%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

/*css for services*/

.services
{   
    padding: 4% 0;
}

.box-3
{
    width: 28%;
    float: left;
    margin: 2%;

}
.text
{
    color:#2f3542;
    text-align: center;
}

/*css for combo services*/

.products
{
    background-color: #ececec;
    padding: 4% 0;   
}

.product-menu
{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.product-menu-img
{
    width: 20%;
    float: left;
}

.product-menu-desc
{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.product-price
{
    font-size: 1.2rem;
    margin: 2% 0;
}
.product-detail
{
    font-size: 1rem;
    color: #747d74;
}


/*css for buttons*/
.btn
{
   
    padding: 1%;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    
}
.btn-primary
{
    color: white;
    background-color: #ff6b81;
    cursor: pointer;
}


/*css social*/

.social ul
{
    list-style: none;
}

.social ul li
{
    display: inline;
    padding: 1%;
}




















